blessed==1.19.0
certifi==2021.10.8
charset-normalizer==2.0.9
click==7.1.2
colorama==0.4.4
edlib==1.3.9
feedparser==6.0.8
findpapers==0.6.6
Flask==2.0.2
idna==3.3
inquirer==2.8.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
lxml==4.7.1
MarkupSafe==2.0.1
numpy==1.21.4
python-editor==1.0.4
readchar==2.0.1
requests==2.26.0
scikit-learn==1.0.1
scipy==1.7.3
sgmllib3k==1.0.0
six==1.16.0
sqlitedict==1.7.0
threadpoolctl==3.0.0
typer==0.3.2
urllib3==1.26.7
wcwidth==0.2.5
Werkzeug==2.0.2
xmltodict==0.12.0
